/* aside */
.aside__element {
    width: 56px;
    height: var(--height-contentMain);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    row-gap: 32px;
    border-right: 1px solid var(--border-color);
}

@media (max-width:767px) {
    .aside__element {
        display: none;
    }
  }
  